@{
    ViewBag.Title = "About ServeMeHR";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    ServMeHR is an application to allow HR to manage and monitor all HR service
    requests from inception to completion.It can autofill identification information
    as well as email the originator of a request as the status changes.With this
    application you can truly measure your actual operations rather than manage by exception
</p>

<p>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    <strong>
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    </strong>
    See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see http://www.gnu.org/licenses .
</p>