@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@


<address>
    <strong>Author:</strong>   Lyndon Sundmark
</address>

@*<address>
        <abbr title="Phone">Phone:</abbr>

    </address>*@

<address>
    <strong>Email:</strong>   <a href="mailto:lvsund@outlook.com">lvsund@outlook.com</a><br />
</address>


